:root {
  --main-color: #4ad9ca;
  --secondary-color: #0f2a3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.6;
  /* padding: 20px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/tealHeroImage.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

/* Header */

header {
  border: 2px solid var(--secondary-color);
  max-width: 800px;
  display: flex;
  margin-bottom: 20px;
  padding: 40px;
}

header > img {
  width: 10%;
}

section {
  width: 800px;
  margin: 2rem;
}
